.weather-panel {
    background-color: black;
    height: 100%;
    padding: 0px 25px;
    border: 1px solid black;
    padding: 10px 10px;

    .weather-row {
        height: inherit;
    }

    .weather-icon {
        min-width: 200px;
        width: 50%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .weather-temp-text {
        font-size: 100px;
    }

    .weather-temp-symbol {
        font-size: 30px;
        top: -1.5em;
    }

    .content-card {
        height: inherit;
        background-color: inherit;
        border: none;
    }
}