.footer {
    background-color: black;
    margin-top: 20px;
    max-width: 100%;
    margin-left: 0px;
    
    .footer-content {
        margin-left: 10px;
        padding-bottom: 20px;   
        margin-top: 20px;     
    }

    .footer-row {
        margin-left: 0px;
    }

    .footer-label {
        margin-right: 5px;
    }
}